<h1>Add Word</h1>

<form action="/add-word" method="post" class="add-word-form">
    <input type="text" name="word" placeholder="word.." required><br>
    <input type="radio" name="gender" value="male" required>
    <input type="radio" name="gender" value="female">
    <input type="radio" name="gender" value="neuter"><br>
    <input type="text" name="translation" placeholder="english.." required><br><br>
    <input type="submit" value="Save">
</form>