<form action="/" method="post" class="search-form">
  <input type="text" name="search-word" class="search-input" placeholder="Search..">
</form>

<ul>
{{#each users}}
  <li>{{name}} ({{email}})</li>
{{/each}}
</ul>
