<div class="search-container">
  <form action="/" method="post" class="search-form">
    <input type="text" name="searchStr" class="search-input" placeholder="Search.." required>
  </form>
</div>



<ul>
{{#each users}}
  <li>{{name}} ({{email}})</li>
{{/each}}
</ul>
