<div class="search-container">
  <form action="/" method="post" class="search-form">
    <input type="text" name="searchStr" class="search-input" placeholder="Search.." required>
  </form>
  <a href="/add"><button type="button" class="add-word-button">&#xFF0B</button></a>
</div>
<div class="outter-results-container">
  <div class="results-container">
    {{#each results}}
      <h1>{{word}}</h1>
    {{/each}}
  </div>
</div>