<!DOCTYPE html>
<html>
  <head>
    <title>G2E-Lookup</title>
  </head>
  <body>
    <h1 class="title">Der Übersetzer - The Translator</h1>

    <input type="text" class="search" placeholder="Search..">

    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
